body{
  background-color: #EEEEEE;
}
.logo{
  background-color: #FFF;
  border: 1px solid #BFBDBD;
  padding: 0px 20px;
}
.logo img{
  width: 18%;
}
@media(max-width:767px){
    .logo img{
    width:60%;
    }
}
#dashboardtabs{
  margin-top: 50px;
  margin-bottom: 50px;
}
#dashboardtabs .nav{
  padding: 0px 0px 10px 0px;
  background: white;
  box-shadow: 3px 3px 3px rgb(0 0 0 / 16%);
}
#dashboardtabs .sub-tabs .nav{
  padding: 0px 0px 10px 0px;
  background: #E1E1E1;
  border: 1px solid #8ECAE6;
  box-shadow: none;
}
#dashboardtabs .tab-pane{
  background-color:#EEEEEE;
  border:none;
  border-top: 0;
  margin-top: 20px;
}
#dashboardtabs .maintab .nav-item{
  width: fit-content;
}
#dashboardtabs .maintab .nav-item .nav-link{
  color: #707070;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  width: fit-content;
  padding: 0;
  padding-top: 16px;
  border-radius: 0;
  border-top: 9px solid white;
  text-transform: uppercase;
  border-color: #ffffff;
}
.settingtab .nav-tabs .nav-item .nav-link{
  color: #707070;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  width: fit-content;
  padding: 0;
  padding-top: 16px;
  border-radius: 0;
  border-top: 9px solid #e1e1e1;
  text-transform: uppercase;

}
#dashboardtabs .maintab .nav-item.show .nav-link, .maintab .nav-link.active{
  background-color: transparent;
  color: #707070;
  border-top: 9px solid #5241A2!important;
  border-color: #ffffff;
  color: #5241A2!important;

}
#dashboardtabs .maintab .nav-link:hover {
  border-color: #5241A2 #ffffff #ffffff!important;
}
.settingtab .nav-tabs .nav-link:hover {
  border-color: #5241A2 #e1e1e1 #e1e1e1!important;
}
#dashboardtabs .tab-pane.active{
  height: fit-content;
}
#dashboardtabs .maintab .nav-item .nav-link:before{
opacity: 0;
}
#dashboardtabs .maintab .nav-item .nav-link:hover{
  background-color: white;
}
.settingtab .nav-tabs .nav-item .nav-link:hover{
  background-color: #e1e1e1!important;
}
.startopion{
  position: relative;
  background-color:white;
  box-shadow:5px 5px 5px #00000029;
}
.startopion .fa-angle-down{
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 25px;
  color: #707070;
  cursor: pointer;
}
.showinfo{
display: none;
}
.addstyle{
  padding-bottom: 25px;
  text-align: left!important;
  padding-left: 25px;
}
.startopion h2{
  color: #023047;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 18px;
  padding-top: 25px;
  text-align: center;
}
.startopion p{
color: #2B2B2B;
font-size: 16px;
font-family: 'Montserrat', sans-serif;
font-weight: 400;
line-height: 20px;
margin-bottom: 20px;
}
.startopion button{
background-color: #5241A2;
font-size: 12px;
font-family: 'Montserrat', sans-serif;
font-weight: 400;
color: white;
box-shadow: 5px 5px 8px 0px #00000036;
padding: 12px 24px;
border: 0;
border-radius: 5px;
}
.startopion button:hover{
  background-color: #00C5DC;
}
.startopion button:focus{
 outline: none;
}
.startopion .getstart{
  margin-top: 40px;
  margin-bottom: 40px;
  text-align: center;
}
.dashboardfilter{
  float: right;
  display: flex;
}
.dashboardfilter select{
  background: #E1E1E1;
  border: 0;
  border-radius: 50px;
  outline: none;
  color: #707070;
  font-size: 14px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  padding: 8px 10px;
}
.noticecircle{
  background: #e1e1e1;
  padding: 6px 9px;
  border-radius: 50%;
  margin-left: 10px;
  position: relative;
  box-shadow: 5px 5px 5px #00000029;
  width: 35px;
  height: 35px;
}
.noticecircle .fa-bell{
  color: black;
}
.noticecircle .dot{
  width: 10px;
  height: 10px;
  background-color: #219EBC;
  border-radius: 50%;
  position: absolute;
  top: 6px;
  right: 9px;
  border: 2px solid #e1e1e1;
}
.databox{
  background-color: white;
  padding: 20px;
  box-shadow: 5px 5px 5px #00000029;
}
.changecolor{
  background-color: #5241A2!important;
  position: relative;
}
.databox h3{
  color:#2B2B2B;
  font-size: 20px;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
}
.databox h4{
  color: #ffffff;
  font-size:37px;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  padding-top: 3px;
    margin-bottom: 15px;
  text-align: center;
  background-color: #5241a2;
}
.databox h5{
  color:#5241a2;
  font-size: 14px;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  margin-bottom: 15px;
}
.databox p{
  color: #707070;
  font-size: 13px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  margin-bottom: 3px;
}
.databox .quartertabs .nav-item .nav-link{
  color:#2B2B2B!important;
  /* font-size: 10px!important; */
  font-family: 'Montserrat', sans-serif;
  /* font-weight: 400!important; */
  margin: auto!important;
  padding-top: 7px!important;
  padding-bottom: 9px!important;
  padding: 0;
  border-top: 9px solid #e1e1e1;
  border-radius: 0;
  border-color: #e1e1e1;
  text-align: center;
}
.databox .nav{
  padding: 0!important;
  background: #E1E1E1!important;
  border: none!important;
  width: 100%;
  box-shadow: none!important;
  position: absolute;
  bottom: 0;
}
.databox .quartertabs .nav-item.show .nav-link, .quartertabs .nav-link.active{
  border-top: 3px solid #00C5DC!important;
}
/* .databox .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active{
  border-top: 9px solid #00C5DC!important;
} */
.databox .tab-pane{
padding: 0!important;
}
.databox  .tab-pane {
  background-color: #e1e1e1!important;
  border: none!important;
  border-top: 0;
}
.databox .quartertabs li{
  list-style: none;
  width: 25%!important;
}
.databox .borderright{
  border-right: 1px solid #707070;
}
.databox ul{
  list-style: inside;
  padding: 0;
}
.databox ul li{
  color:#707070;
  font-size: 11px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;

}
.myChartDiv {
  max-width: 600px;
  max-height: 400px;
  /* background-color: white; */
}

.topheading{
  color: #5241A2;
  font-size: 18px;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  margin: 0;
}

.toggle-switch-box {
  display: inline-block;
  margin: 0;
  cursor: pointer;
  outline: 0;
  overflow: hidden;
}
.toggle-switch-box input {
  display: none;
}
.toggle-switch-box input:checked + .toggle-switch-item::before {
  left: 0;
}
.toggle-switch-box input:checked + .toggle-switch-item::after {
  right: -100%;
}
.toggle-switch-box input:checked + .toggle-switch-item .switch-button {
  left: calc(100% - 23px);
}
.toggle-switch-box .toggle-switch-item {
  position: relative;
  display: block;
  min-width: 70px;
  min-height: 24px;
}
.toggle-switch-box .toggle-switch-item::before, .toggle-switch-box .toggle-switch-item::after,
.toggle-switch-box .toggle-switch-item .switch-button {
  position: absolute;
  top: 50%;
  transform: translate3d(0, -50%, 0);
}
.toggle-switch-box .toggle-switch-item::before, .toggle-switch-box .toggle-switch-item::after {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  font-size: 8px;
  text-transform: uppercase;
  font-weight: 700;
  color: #fff;
  line-height: 1;
}
.toggle-switch-box .toggle-switch-item::before {
  left: -100%;
  padding: 0 23px 0 0;
  background-color: transparent;
  content: attr(data-tg-on);
  transition: left 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.toggle-switch-box .toggle-switch-item::after {
  right: 0;
  padding: 0 0 0 23px;
  background-color: #707070;
  content: attr(data-tg-off);
  transition: right 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.toggle-switch-box .toggle-switch-item .switch-button {
  left: 3px;
  display: block;
  width: 20px;
  height: 20px;
  border: 3px solid transparent;
  background-color: #fff;
  border-radius: 50%;
  z-index: 1;
  transition: left 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.switch-rounded {
  border-radius: 26px;
}

.switch-rectangular {
  border-radius: 3px;
}
.switch-rectangular .toggle-switch-item .switch-button {
  border-radius: 3px;
}

.switch-bg-secondary .toggle-switch-item::before {
  background-color: #adb5bd;
}

.switch-bg-primary .toggle-switch-item::before {
  background-color: #2574ab;
}

.switch-bg-success .toggle-switch-item::before {
  background-color: #5241A2;
}

.switch-bg-warning .toggle-switch-item::before {
  background-color: #ffc107;
}

.switch-bg-danger .toggle-switch-item::before {
  background-color: #d9534f;
}

.switch-bg-info .toggle-switch-item::before {
  background-color: #5bc0de;
}

.switch-bg-light .toggle-switch-item::before {
  background-color: #e9ecef;
}

.switch-bg-dark .toggle-switch-item::before {
  background-color: #343a40;
}
.btnwidth{
  min-width: 53px!important;
}
.floatright{
  float: right;
  display: flex;
  align-items: center;
}
.sub-tabs{
  display: none;
}
.showtabs{
  display: block;
}
.displaynono{
  display: none;
}

.enablenotice{
  text-align: center;
  background-color: #E1E1E1;
  padding: 30px;
  box-shadow: 5px 5px 5px #00000029;
  margin: 35px 0px;
}
.enablenotice h4{
  color: #023047;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 20px;
}
.enablenotice p{
  color: #2B2B2B;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 16px;
}
.sub-tabs .tab-pane{
background-color: white!important;
}
.sub-tabs .nav-tabs .nav-item .nav-link{
  color: #2B2B2B;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400!important;
  font-size: 11px!important;
  width: fit-content;
  padding: 0;
  margin:0 16px 12px 12px!important;
  padding-top: 16px;
  border-radius: 0;
  border-top: 9px solid #e1e1e1;
  text-transform: uppercase;

}
.sub-tabs .nav-tabs .nav-item .nav-link:hover{
  border-color: #5241A2 #e1e1e1 #e1e1e1;
}
.sub-tabs .tab-pane{
  border: 0!important;
  padding: 0!important;
}
.sub-tabs .nav{
  border: 0!important;
}
.widgets{
  border-bottom: 1px solid #70707080;
}
.widgets h3{
  color: #5241A2;
font-family: 'Montserrat', sans-serif;
font-weight: bold;
font-size: 18px;
margin-top: 40px;
margin-bottom: 20px;
}
.widgets ul{
  display: flex;
  flex-wrap: wrap;
    list-style: none;
    padding: 0;
}


.widgets p{
  color: #2B2B2B;
font-family: 'Montserrat', sans-serif;
font-weight: 400;
font-size: 12px;
margin-bottom: 22px;
}
.floatright a{
  border: 1px solid #E1E1E1;
  text-align: center;
  transition: .4s;
  width: 38px;
}
.floatright .defaultshow{
  width:60%;
  /* border: 1px solid #E1E1E1; */
  padding: 6px 0px;
  transition: .4s;
}
.floatright .onhover{
  width: 60%;
  /* border: 1px solid #E1E1E1; */
  padding: 6px 0px;
  transition: .4s;
}
.floatright a:hover {
  border: 1px solid #219EBC;
  transition: .4s;
}
.onhover{
  display: none;
  transition: .4s;
}
.floatright a:hover .defaultshow{
  display: none;
  transition: .4s;
}
.floatright a:hover .onhover{
  display: inline;
  transition: .4s;
}
.settingtab .nav{
  padding: 0px 0px 10px 0px;
  background: #E1E1E1!important;
  border: none!important;
  box-shadow: 0 3px 3px #00000029;
}
.settingtab .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active{
  background-color: transparent;
  color: #707070;
  border-top: 9px solid #5241A2!important;
  border-color: #e1e1e1;
  color: #5241A2!important;

}
/* .sub-tabs .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active{
  background-color: transparent;
  color: #707070;
  border-top: 9px solid #5241A2!important;
  border-color: #e1e1e1;
  color: #5241A2!important;

} */
/* .settingtab .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active{
  border-color: #ececec!important;
  border-top: 6px solid #219EBC!important
} */

/* .settingtab .nav-tabs .nav-item .nav-link{
  border-top: 6px solid #ececec!important;
} */
.settingtab{
  box-shadow: 5px 5px 5px #00000029;
}
.settingtab .tab-pane{
  background-color: white!important;
  border: none!important;
  padding: 25px 20px 100px 30px!important;
}
.settingtab label{
  color: #2B2B2B;
  font-family: 'Montserrat', sans-serif;
font-weight: bold;
font-size: 12px;
}
.settingtab input{
  width: 100%;
  border: 0;
  outline: none;
  height: 36px;
  background: white;
  color: #707070;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 12px;
  padding-left: 15px;
}


.settingtab .select1 {
  background-image: url("../img/arrow.png");
  background-position: right 10px center;
  background-repeat: no-repeat;
  background-size: auto 30%;
  border-radius: 2px;
  border: none;
  color: #5241A2;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 12px;
  padding: 10px 30px 10px 10px;
  outline: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  box-shadow: 3px 3px 10px #00000029;
  transition: .3s;
}
.settingtab .select2 {
  background-image: url("../img/arrow.png");
  background-position: right 10px center;
  background-repeat: no-repeat;
  background-size: auto 30%;
  border-radius: 2px;
  border: none;
  color: #5241A2;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 12px;
  padding: 10px 30px 10px 10px;
  outline: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  box-shadow: 3px 3px 10px #00000029;
  transition: .3s;
}
.changeimg{
  background-image: url("../img/changearrow.png")!important;
  transition: .3s;
}

.savebtn{
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 12px;
  float: right;
    margin-top: 38px;
    color: white;
    background: #5241A2;
    border: 0;
    width: 100px;
    height: 36px;
    box-shadow: 5px 5px 5px #00000029;
border-radius: 5px;
}
.savebtn:focus{
outline: none;
}

.import{
  /* display: flex; */
  align-items: center;
  margin-top: 35px;
}
.import h5{
color: #2B2B2B;
font-family: 'Montserrat', sans-serif;
font-weight: bold;
font-size: 12px;
margin: 0;

}
.import .loading{
  background-color: #957BF1;
  height: 13px;
  color: #2B2B2B;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 8px;
  text-align: center;
  margin: 8px 0px;
  width: 100%;
  padding-top: 2px;
}

  .btn {
    display: inline-block;
    min-width: 100px;  
    background-color: #5241A2;
    color: white;
    border-radius: 7px;
    cursor: pointer;
    padding: .5rem;
    box-shadow: 5px 5px 5px #00000029;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 8px;
    float: right;
  }
  
  .btn:hover {
    background: #00C5DC;
    color: #fff;
    font-size: 0;
  }
  
  .btn:hover:after {
    content: attr(data-btn-alt);
    font-size:  8px;
    word-wrap: break-word;
  }
  .selectbox{
    background-color: #ffffff9c;
    padding: 12px 25px 45px 25px;
    position: relative;
  }
  /* .boxnumber{
    color: #5241A2;
    padding: 3px 22px;
    color: white;
    width: fit-content;
    position: absolute;
    top: 0;
    left: 0;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 33px;
  } */
  .selectbox h3{
    color: #5241A2;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 20px;
  }
  .selectbox .description{
    color: #2B2B2B;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 11px;
    width: 70%;
    margin-top: 20px;
    margin-bottom: 45px;
  }
  .selectbox .selectpage{
    background-image: url("../img/arrow.png");
    background-position: right 10px center;
    background-repeat: no-repeat;
    background-size: auto 30%;
    border-radius: 2px;
    border: none;
    color: #219EBC;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 16px;
    padding: 10px 30px 10px 10px;
    outline: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    box-shadow: 3px 3px 10px #00000029;
  }
 
  .selectbox .selectWidget{
    background-image: url("../img/arrow.png");
    background-position: right 10px center;
    background-repeat: no-repeat;
    background-size: auto 30%;
    border-radius: 2px;
    border: none;
    color: #219EBC;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 16px;
    padding: 10px 30px 10px 10px;
    outline: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    box-shadow: 3px 3px 10px #00000029;
  }
  .selectbox h4{
    color: #5241A2;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 15px;
  }
  .selectbox label{
    color: #2B2B2B;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 10px;
    margin-top: 15px;
    margin-bottom: 15px;
  }
  .selectbox .Snippet{
    width: 100%;
    border: 0;
    height: 36px;
    background: white;
    padding-left: 10px;
    color: #5241a2;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 11px;
  
  }
  .selectbox .bycategories{
    width: 100%;
    border: 0;
    height: 32px;
    background: white;
    padding-left: 10px;
    color: #5241A2;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 11px;
  
  }
  .selectbox .bycategories{
  box-shadow: 3px 3px 10px #00000029;
  }
  .selectbox .bycategories::placeholder , .textfiled::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #5241A2;
    opacity: 1; /* Firefox */
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 11px;
  }
  
  .selectbox .bycategories:-ms-input-placeholder , .textfiled:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #5241A2;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 10px;
  }
  
  .selectbox .bycategories::-ms-input-placeholder , .textfiled::-ms-input-placeholder { /* Microsoft Edge */
    color: #5241A2;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 10px;
  }
  .selectbox input:focus{
    outline: none;
  }
  .selectbox .selectAlgorithm{
    background-image: url("../img/arrow.png");
    background-position: right 10px center;
    background-repeat: no-repeat;
    background-size: auto 30%;
    border-radius: 2px;
    border: none;
    color: #5241A2;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 11px;
    padding: 5px 30px 5px 10px;
    height: 32px;
    outline: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    box-shadow: 3px 3px 10px #00000029;
  }

  .selectbtn{
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 12px;
      color: white;
      background: #5241A2;
      border: 0;
      width: 75px;
      height: 28px;
      box-shadow: 5px 5px 5px #00000029;
      transition: .3s;
      border-radius: 5px;
  }
  .selectbtn:hover{
    background-color:#00C5DC;
    transition: .3s;
  }
  .selectbtn:focus{
  outline: none;
  }
  .switchbtn{
    min-width: 53px!important;
    min-height: 24px!important;
}
.switchbtn span{
  width: 20px!important;
  height: 20px!important; 
}
.toggle-switch-box input:checked + .toggle-switch-item .switchcircle{
  left: calc(100% - 22px)!important;
}


/* span {
  cursor:pointer;
 } */
		.number{
			/* margin:100px; */
      display: flex;
      align-items: center;
      box-shadow: 3px 3px 10px #00000029;
      height: 32px;
		}
		.minus, .plus{
      width: 42px;
      height: 100%;
      background: white;
      padding: 0px 5px 0px 5px;
      border: 1px solid #707070;
      display: inline-block;
      vertical-align: middle;
      text-align: center;
      cursor: pointer;
      font-weight: bold;
      color: #707070;
		}
		.displaycounter{
	    height: 32px;
    width: 100px;
    text-align: center;
    border: none;
    border-radius: 0;
    display: inline-block;
    vertical-align: middle;
    color: #5241A2;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 12px;
    pointer-events: none;
    }

  
    
.form-group {
  display: block;
  margin-bottom: 0px;
}

.form-group input {
  padding: 0;
  height: initial;
  width: initial;
  margin-bottom: 0;
  display: none;
  cursor: pointer;
}

.form-group label {
  position: relative;
  cursor: pointer;
  margin-top: 8px!important;
}

.form-group label:before {
  content:'';
  -webkit-appearance: none;
  background-color: white;
  border: none;
  box-shadow: 3px 3px 10px #00000029;
  /* box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05); */
  padding: 10px;
  display: inline-block;
  position: relative;
  vertical-align: middle;
  cursor: pointer;
  margin-right: 5px;
}

.form-group input:checked + label:after {
  content: '';
  display: block;
  position: absolute;
  top: 6px;
  left: 8px;
  width: 6px;
  height: 11px;
  border: solid #5241A2;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
}


.selectbox .norecommendation{
  background-image: url("../img/arrow.png");
  background-position: right 10px center;
  background-repeat: no-repeat;
  background-size: auto 30%;
  border-radius: 2px;
  border: none;
  color: #5241a2;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 11px;
  padding: 5px 30px 5px 10px;
  height: 32px;
  outline: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  box-shadow: 3px 3px 10px #00000029;
}
.selectbox .textfiled{
  width: 100%;
  border: 0;
  height: 32px;
  background: white;
  padding-left: 10px;
  color: #5241a2;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 11px;
  box-shadow: 3px 3px 10px #00000029;
}
.breakline{
  height: 1px;
  width: 100%;
  background-color: #707070;
  margin-top: 70px;
  margin-bottom: 50px;
}

.selectbox .themedropdown{
  background-image: url("../img/arrow.png");
  background-position: right 10px center;
  background-repeat: no-repeat;
  background-size: auto 30%;
  border-radius: 2px;
  border: none;
  color: #5241a2;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 11px;
  padding: 5px 30px 5px 10px;
  height: 32px;
  outline: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  box-shadow: 3px 3px 10px #00000029;
}
.selectbox .locationdropdown{
  background-image: url("../img/arrow.png");
  background-position: right 10px center;
  background-repeat: no-repeat;
  background-size: auto 30%;
  border-radius: 2px;
  border: none;
  color: #5241a2;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 11px;
  padding: 5px 30px 5px 10px;
  height: 32px;
  outline: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  box-shadow: 3px 3px 10px #00000029;
}

.selectbox .fontdropdown{
  background-image: url("../img/arrow.png");
  background-position: right 10px center;
  background-repeat: no-repeat;
  background-size: auto 30%;
  border-radius: 2px;
  border: none;
  color: #5241a2;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 11px;
  padding: 5px 30px 5px 10px;
  height: 32px;
  outline: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  box-shadow: 3px 3px 10px #00000029;
}
.fontcolor{
  background-color: #2B2B2B;
  border: 1px solid #707070;
  width: 31px;
  height: 32px;
  box-shadow: 3px 3px 10px #00000029;
}
.backgroundcolor{
  background-color: white;
  border: 1px solid #707070;
  width: 31px;
  height: 32px;
  box-shadow: 3px 3px 10px #00000029;
}
.Preview{
  color: #2B2B2B;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 11px;
  margin-top: 40px;
  margin-bottom: 20px;
}
.Preview span{
  font-weight: bold;
}
.Previewgallery{
  background: white;
 display: none;
 position: relative;
}
.Previewgallery h2 {
  display: grid;
  width: 100%;
  align-items: center;
  text-align: center;
  grid-template-columns: minmax(20px, 1fr) auto minmax(20px, 1fr);
  grid-gap: 20px;
  color: #707070;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}

.Previewgallery h2:before,
.Previewgallery h2:after {
  content: '';
  border-top: 1px solid #707070;
}
.gallerybox p{
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 11px;
  color: #707070;
  margin: 10px 0px;
}
.gallerybox{
  padding-top: 30px;
  transition: .3s;
  padding-bottom: 0px;
  position: relative;
}
/* .gallerybox:hover{
-webkit-transform: scale(1.08);
transform: scale(1.5);
} */
.gallerybox img,p{
  transition: .3s;
}
.gallerybox:hover{
  padding-top: 10px;
  transition: .3s;
  cursor: pointer;
  /* padding-bottom: 20px; */
}
.gallerybox:hover p{
  font-size: 16px;
  transition: .3s;
}
.gallerybox:hover img{
width: 113%;
  transition: .3s;
}
.light p{
  position: absolute;
  bottom: 0%;
  left: 20px;
  text-align: left;
}
.flatpara{
  position: absolute;
  bottom: 0;
  left: 0;
  text-align: center;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.419);
  margin: 0!important;
  padding: 10px 0px;
}
.gallerybox:hover .flatpara{
  width: 113%;
}
.customcss{
  position: relative;
}
.customcss textarea{
width: 100%;
height: 228px;
border: 1px solid #70707080;
resize: none;
outline: none;
padding-left: 35px;
}
.customcss .color{
  background-color: #957bf140;
  width: 30px;
  height: 228px;
  position: absolute;
  top: 44px;
}

.copycode{
  color: #2B2B2B;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 11px;
  margin-bottom: 15px;
}
.w-60{
  /* width: 60%!important; */
  box-shadow: none!important;
}
.copybtn{
  background-color: #957BF1;
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 9px;
  border: 0;
  cursor: pointer;
  padding: 0px 20px;
  border-radius: 25px;
}
.copybtn:focus{
outline: none;
}
.copybtncolor{
  background-color: #00C5DC;
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 9px;
  border: 0;
  cursor: pointer;
  padding: 0px 16px;
  border-radius: 25px;
}
.copybtncolor:focus{
  outline: none;
}
.usecode{
  float: right;
  color: #5241A2;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 10px;
  text-decoration: underline;
  margin-right: 62px;
}
.usecode:hover{
  color: #5241A2;
}
.finishbtn{
border: 0;
background-color: #5241A2;
color: white;
font-family: 'Montserrat', sans-serif;
font-weight: 400;
font-size: 14px;
  padding: 5px 22px;
box-shadow: 5px 5px 5px #00000029;
margin-top: 50px;
height: 30px;
border-radius: 5px;
}
.finishbtn:hover{
background-color: #00C5DC;
}
.finishbtn:focus{
  outline: none;
}
.cancelbtn{
  border: 0;
  background-color: #707070;
  color: white;
font-family: 'Montserrat', sans-serif;
font-weight: 400;
font-size: 14px;
  padding: 5px 22px;
box-shadow: 5px 5px 5px #00000029;
margin-top: 50px;
height: 30px;
border-radius: 5px;
}
.cancelbtn:hover{
background-color: #00C5DC;
}
.cancelbtn:focus{
  outline: none;
}
@media only screen and (min-width: 320px) {
  .Previewgallery h2{
    font-size: 9px;
  }
  .widgets ul li a{
    background-color: #A68EF8;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size:9px;
    padding: 8px 11px;
        border-radius: 50px;
        margin-right: 12px;
        text-decoration: none;
    }
    .widgets ul li{
      margin-bottom: 10px;
      width: 111px;
    }

  #dashboardtabs .maintab .nav-item .nav-link{
    font-size: 10px;
    margin: 0 12px 12px 3px;
  }
  .settingtab .nav-tabs .nav-item .nav-link{
    font-size: 8px;
    margin: 0 16px 12px 3px;
  }
  #dashboardtabs .nav{
    flex-wrap: wrap;
  }
  .startopion .getstart {
    padding: 0px 22px;
    border-right: none;
  }
  .databox{
    height: 190px;
  }
  #dashboardtabs .tab-pane{
    padding: 25px 20px 110px 20px;
  }
  .Previewgallery{
    height: fit-content;
    padding: 20px 5px;
  }
  .number{
    width:142px;
  }
  .displayonmobile{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

@media only screen and (min-width: 768px) {
  .displayonmobile{
    display: block;
  }
  .number{
    width:142px;
  }
  .Previewgallery{
    height: 200px;
    padding: 20px 30px;
  }
  .Previewgallery h2{
    font-size: 10px;
  }
  .fieldwidth{
    width: 45%!important;
  }
  .widgets ul li a{
    background-color: #A68EF8;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size:9px;
    padding: 8px 15px;
        border-radius: 50px;
        margin-right: 12px;
        text-decoration: none;
    }
    .widgets ul li{
      margin-bottom: 10px;
      width: fit-content;
    }

  #dashboardtabs .maintab .nav-item .nav-link{
    font-size: 15px;
    margin: 0 16px 12px 30px;
  }
  .settingtab .nav-tabs .nav-item .nav-link{
    font-size: 13px;
    margin: 0 16px 12px 30px;
  }

  #dashboardtabs .nav{
    flex-wrap: initial;
  }
  .startopion .getstart {
    padding:20px 62px;
    border-right: 1px solid #707070;
  }
  .databox {
    height: 250px;
}
.databox h3{
font-size: 12px;
}
#dashboardtabs .tab-pane{
padding: 25px 60px 110px 60px;
}
.databox .quartertabs .nav-item .nav-link{
  font-size: 7px!important;
    font-weight: 600!important;
}
}

@media only screen and (min-width: 992px) {
  .databox .quartertabs .nav-item .nav-link{
    font-size: 10px!important;
      font-weight: 400!important;
  }
  .number{
    width: fit-content;
  }
  .Previewgallery{
    height: 300px;
  }
  #dashboardtabs .maintab .nav-item .nav-link{
    font-size: 17px;
    margin: 0 16px 12px 30px;
  }
  .settingtab .nav-tabs .nav-item .nav-link{
    font-size:16px;
    margin: 0 16px 12px 30px;
  }
   .databox{
    height: 190px;
  }
  .databox h3{
    font-size: 18px;
    }
}

@media only screen and (min-width: 1200px) {
  
}